<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accepting page</title>
  </head>
  <body>
    {% if data %}
      <h1>Users who are not accepted</h1>
      <p>{{ data }}</p>
    {% endif %}
    <h1>How to accept ?</h1>
    <p>So you are an admin and you want to know how to accept, well you have to write the device id (The device id is in brackets) and name of the user who is not accepted in the form below and press submit, then they will be accepted and they can login
    (Aap admin hai aur aapko janna hai ki kaise accept kare, to bas apko us user ka device id (Device id us user ke name ke samne wale brackets mei hai) aur uska name (uska name dusre input mei likhna hai) likhna hoga niche diye hua form mei jo accept nahi hua hai aur fir aap usse accept kar sakte hai fir vo login kar payega)</p>
    <form method="post" action="/accept">
      <input name="device_id" placeholder="User's device id who is going to be accepted">
      <input name="username" placeholder="User's name who is going to br accepted">
      <input type="submit" value="Accept">
    </form>
  </body>
</html>