<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
  </head>
  <body>
    <h1>Welcome to Demonic Dragons website</h1><br>
    <p>You can register yourself in the group by entering your name and roll number ex - Ayu Raj | roll 6 then group admins will check if your valid to enter
    (Aap register kar sakte hai bas apko apna name and roll number dalna hoga jaise ki - Ayu Raj | roll 6 niche wale form mei)</p>
    <form method="post" action="/demonic-dragons.vercel.app/register">
      <input type="hidden" id="id" name="device_id">
      <input name="name" placeholder="Your name and roll no">
      <input type="submit" value="submit">
    </form>
    <h1>Account accept situation</h1>
    <p>If you want to know that your account is made or not then just click the button below and then it will tell you
    (Kya apko janna hai apka account accept hua hai ya nahi to aap niche diye hue button ko click karke jaan sakte hai)</p>
    <form method="post" action="/demonic-dragons.vercel.app/checkaccstatus">
      <input type="hidden" name="device_id" id="id2">
      <input type="submit" value="Check">
    </form>
    <h1>Login</h1>
    <p>You can login by clicking the button below (Note - You have to login everytime when you open this website because you can't directly access the main page by opening the link)
    (Aap login kar sakte hai bas apko niche diye hue button ko press kerna hoga (Note - Aapko jabhi demonic dragons ka website kholna ho ga to apko login kerna hoga kyuki aap directly us main page kei link ko nahi khol sakenge))</p>
    <form method="post" action="/demonic-dragons.vercel.app/login">
      <input type="hidden" id="id3" name="device_id">
      <input type="submit" value="Login">
    </form>
    <h1>Account accepting webpage</h1>
    <p>Are you an admin, well if yes then you can accept people just click on the button below and you will go to the weboage where you can accept (Note - You can only go to the webpage if you have the Admin role and if you try to enter the webpage without the role then you can't)
    (Kya aap admin hai, agar ha tab aap logo ko accept kar sakte hai bas aapko niche wale button ko click kerna hai and aap accept karne wale webpage pei ja sakte hai (Note - Aap tabhi us webpage pei ja sakte hai agar aapke pas Admin role hai aur agar aap kosis karenge bina us role kei tab aap nahi ja payenge))</p>
    <form method="post" action="/demonic-dragons.vercel.app/acceptingaccpage">
      <input type="hidden" id="id4" name="device_id">
      <input type="submit" value="Click to go to the page">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/chance"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>